/* HOMEPAGE */

* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v2_2 {
    position: relative;
    height: 125vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.8) 0%, rgba(255, 138, 0, 0.8) 15.62%, rgba(204, 255, 0, 0.8) 32.81%, rgba(0, 255, 102, 0.8) 49.48%, rgba(0, 240, 255, 0.8) 67.71%, rgba(189, 0, 255, 0.8) 81.77%, rgba(255, 0, 46, 0.8) 97.92%);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    
  }
  .v3_2 {
    width: 75vw;
    height: 60vh;
    background: url("../Meme-History-Quiz/media/7a8407ab75c89d83b1543ef453cf7d96.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30vh;
    left: 10vw;
    border: 20px solid rgba(48,48,48,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v3_4 {
    width: 100%;
    color: rgba(247,247,247,1);
    position: absolute;
    top: 5vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Quando;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .v3_5 {
    width: 100%;
    color: rgba(255,249,249,1);
    position: absolute;
    top: 16vh;
    font-family: Quando;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v4_2 {
    width: 60vw;
    height: 15vh;
    background: linear-gradient(rgba(0,0,0,1), rgba(22,22,22,1));
    opacity: 1;
    position: absolute;
    top: 100vh;
    left: 20vw;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow: hidden;
  }
  .v4_3 {
    width: 50vw;
    color: rgba(235,235,235,1);
    position: absolute;
    top: 103vh;
    left: 25vw;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }

  /* QUESTIONS 1-3 */


  * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v6_4 {
    width: 100%;
    height: 2183px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.8) 0%, rgba(255, 138, 0, 0.8) 15.62%, rgba(204, 255, 0, 0.8) 32.81%, rgba(0, 255, 102, 0.8) 49.48%, rgba(0, 240, 255, 0.8) 67.71%, rgba(189, 0, 255, 0.8) 81.77%, rgba(255, 0, 46, 0.8) 97.92%);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v14_0 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 92px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v14_1 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 752px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v14_2 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1472px;
    left: 65px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v14_3 {
    width: 578px;
    position: absolute;
    top: 249px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v14_4 {
    width: 578px;
    color: url("../images/v14_4.png");
    position: absolute;
    top: 935px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v14_5 {
    width: 578px;
    color: url("../images/v14_5.png");
    position: absolute;
    top: 1650px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v14_6 {
    width: 826px;
    height: 414px;
    background: url("./media/v14_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 249px;
    left: 45vw;
    overflow: hidden;
  }
  .v15_0 {
    width: 336px;
    height: 204px;
    background: url("./media/v15_0.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1134px;
    left: 45vw;
    overflow: hidden;
  }
  .v15_1 {
    width: 216px;
    height: 220px;
    background: url("./media/v15_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95vh;
    left: 45vw;
    overflow: hidden;
  }
  .v15_2 {
    width: 302px;
    height: 302px;
    background: url("./media/v15_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 909px;
    left: 55vw;
    overflow: hidden;
  }
  .v15_3 {
    width: 431px;
    height: 509px;
    background: url("./media/v15_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1629px;
    left: 50vw;
    overflow: hidden;
  }
  
/* QUESTIONS 4-6 */

  * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v18_1 {
    width: 100%;
    height: 2183px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.8) 0%, rgba(255, 138, 0, 0.8) 15.62%, rgba(204, 255, 0, 0.8) 32.81%, rgba(0, 255, 102, 0.8) 49.48%, rgba(0, 240, 255, 0.8) 67.71%, rgba(189, 0, 255, 0.8) 81.77%, rgba(255, 0, 46, 0.8) 97.92%);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v18_3 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 92px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v18_4 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 752px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 110px;
    opacity: 1;
    text-align: left;
  }
  .v18_5 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1472px;
    left: 65px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 130px;
    opacity: 1;
    text-align: left;
  }
  .v18_6 {
    width: 578px;
    color: url("../images/v18_6.png");
    position: absolute;
    top: 249px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v18_7 {
    width: 578px;
    color: url("../images/v18_7.png");
    position: absolute;
    top: 935px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v18_8 {
    width: 578px;
    color: url("../images/v18_8.png");
    position: absolute;
    top: 1650px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v18_13 {
    width: 535px;
    height: 396px;
    background: url("./media/v18_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 261px;
    left: 40vw;
    overflow: hidden;
  }
  .v18_14 {
    width: 281px;
    height: 382px;
    background: url("./media/v18_14.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 193px;
    left: 70vw;
    overflow: hidden;
  }
  .v18_15 {
    width: 855px;
    height: 481px;
    background: url("./media/v18_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 909px;
    left: 45vw;
    overflow: hidden;
  }
  .v18_17 {
    width: 385px;
    height: 415px;
    background: url("./media/v18_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1622px;
    left: 40vw;
    overflow: hidden;
  }
  .v18_16 {
    width: 535px;
    height: 286px;
    background: url("./media/v18_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1807px;
    left: 60vw;
    overflow: hidden;
  }
  
/* Questions 7 to 9 */

  * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v20_3 {
    width: 100%;
    height: 2183px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.8) 0%, rgba(255, 138, 0, 0.8) 15.62%, rgba(204, 255, 0, 0.8) 32.81%, rgba(0, 255, 102, 0.8) 49.48%, rgba(0, 240, 255, 0.8) 67.71%, rgba(189, 0, 255, 0.8) 81.77%, rgba(255, 0, 46, 0.8) 97.92%);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v20_4 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 92px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v20_5 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 752px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 110px;
    opacity: 1;
    text-align: left;
  }
  .v20_6 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1472px;
    left: 65px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 130px;
    opacity: 1;
    text-align: left;
  }
  .v20_7 {
    width: 578px;
    color: url("../images/v20_7.png");
    position: absolute;
    top: 249px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v20_8 {
    width: 578px;
    color: url("../images/v20_8.png");
    position: absolute;
    top: 935px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v20_9 {
    width: 578px;
    color: url("../images/v20_9.png");
    position: absolute;
    top: 1650px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v20_16 {
    width: 419px;
    height: 419px;
    background: url("./media/v20_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 254px;
    left: 55vw;
    overflow: hidden;
  }
  .v20_20 {
    width: 520px;
    height: 504px;
    background: url("./media/v20_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 901px;
    left: 55vw;
    overflow: hidden;
  }
  .v20_22 {
    width: 814px;
    height: 471px;
    background: url("./media/v20_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1646px;
    left: 45vw;
    overflow: hidden;
  }
  

/* Questions 10-12 */


  * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v21_1 {
    width: 100%;
    height: 2183px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.8) 0%, rgba(255, 138, 0, 0.8) 15.62%, rgba(204, 255, 0, 0.8) 32.81%, rgba(0, 255, 102, 0.8) 49.48%, rgba(0, 240, 255, 0.8) 67.71%, rgba(189, 0, 255, 0.8) 81.77%, rgba(255, 0, 46, 0.8) 97.92%);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v21_2 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 92px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v21_3 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 752px;
    left: 51px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 110px;
    opacity: 1;
    text-align: left;
  }
  .v21_4 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1472px;
    left: 65px;
    font-family: Luckiest Guy;
    font-weight: Regular;
    font-size: 130px;
    opacity: 1;
    text-align: left;
  }
  .v21_5 {
    width: 578px;
    color: url("../images/v21_5.png");
    position: absolute;
    top: 249px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v21_6 {
    width: 578px;
    color: url("../images/v21_6.png");
    position: absolute;
    top: 935px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v21_7 {
    width: 578px;
    color: url("../images/v21_7.png");
    position: absolute;
    top: 1650px;
    left: 163px;
    font-family: McLaren;
    font-weight: Regular;
    font-size: 72px;
    opacity: 1;
    text-align: left;
  }
  .v21_12 {
    width: 441px;
    height: 561px;
    background: url("./media/v21_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 50vw;
    overflow: hidden;
  }
  .v21_14 {
    width: 558px;
    height: 558px;
    background: url("./media/v21_14.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 875px;
    left: 50vw;
    overflow: hidden;
  }
  .v22_3 {
    width: 525px;
    height: 295px;
    background: url("./media/v22_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1822px;
    left: 55vw;
    overflow: hidden;
  }
  .v22_1 {
    width: 272px;
    height: 509px;
    background: url("./media/v22_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1655px;
    left: 50vw;
    overflow: hidden;
  }

/* Score 1 to 4 */


  * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v22_5 {
    width: 100%;
    height: 1024px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.8) 0%, rgba(255, 138, 0, 0.8) 15.62%, rgba(204, 255, 0, 0.8) 32.81%, rgba(0, 255, 102, 0.8) 49.48%, rgba(0, 240, 255, 0.8) 67.71%, rgba(189, 0, 255, 0.8) 81.77%, rgba(255, 0, 46, 0.8) 97.92%);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v22_7 {
    width: 100%;
    color: rgba(247,247,247,1);
    position: absolute;
    top: 39px;
    left: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Quando;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: center;
 
  }
  .v22_8 {
    width: 100%;
    color: whitesmoke;
    position: absolute;
    top: 164px;
    font-family: Quando;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  .v22_9 {
    width: 871px;
    height: 158px;
    background: linear-gradient(rgba(0,0,0,1), rgba(22,22,22,1));
    opacity: 1;
    position: absolute;
    top: 829px;
    left: 29vw;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow: hidden;
  }
  .v22_10 {
    width: 838px;
    color: rgba(235,235,235,1);
    position: absolute;
    top: 868px;
    left: 30vw;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v22_12 {
    width: 384px;
    height: 467px;
    background: url("./media/v22_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27vh;
    left: 40vw;
    border: 20px solid rgba(38,38,38,1);
    overflow: hidden;
  }

/* Score 5 to 8 */

.v22_21 {
    width: 40vw;
    height: 467px;
    background: url("./media/v22_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27vh;
    left: 30vw;
    border: 20px solid rgba(38,38,38,1);
    overflow: hidden;
  }

  /* Score 9 to 12 */
  
.v22_30 {
  width: 40vw;
  height: 467px;
  background: url("./media/v22_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30vh;
  left: 30vw;
  border: 20px solid rgba(38,38,38,1);
  overflow: hidden;
}